<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="hk.sld.SwipeLaunchDisabler"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="SwipeLaunch Disabler">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_action_assist"/>
        </activity>
    </application>
</manifest>
